<!DOCTYPE html>
<!--라이브러리 참조 : Thymeleaf & Thymeleaf Layout -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--공통 JS / CSS 영역을 관리하는 환경 영역-->
<head>
  <title>공통 타이틀</title>
</head>

<body>
<!--Header 영역을 참조합니다.-->
<div>
  <th:block th:replace="fragments/header :: HeaderFragment"></th:block>
</div>

<!--Content 내용 영역을 참조합니다-->
<th:block layout:fragment="Content"></th:block>

<!--Footer 영역을 참조합니다.-->
<footer th:replace="fragments/footer :: FooterFragment"></footer>
</body>
</html>